h1 {
  color: green;
  font-style: italic;
}

.note {
  color: rgb(56, 54, 54);
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: black;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  padding: 10px;
  margin-bottom: 10px;
}
